body {
    box-sizing: border-box;
    overflow-x: hidden;
    margin-top: -62px;
}

.text-center.featuredProperty {
    color: #363535;
}

.btn.btn-default.homebtn {
    margin: 0px 0px 0px 0px;
    background: unset;
}

.userManagement {
    margin-left: 800px;
}

.btn.btn-default.userbtn.pull-right {
    background: unset;
    margin: 0px 0px 0px 30px;
}

.text-center.brandName {
    color: snow;
    position: relative;
    top: 45%;
}

.subHeading {
    color: snow;
    position: relative;
    top: 45%;
}

.frontPage::before {
    content: '';
    width: 100%;
    height: 80vh;
    background: #853a8566;
    position: absolute;
    display: ruby-base-container;
}

.propertyShow,
.view {
    margin-top: 45px;
}

.frontPage {
    height: 80vh;
    background: url('../images/Beverly-hills-houses-luxury-home.jpg');
    background-position: center;
}

.Page.navigation {
    margin-left: 0px;
    background: #643838;
    height: 50px;
    line-height: -moz-block-height;
    border-top: 1px solid #fff6;
}

.paginationBlock {
    display: inline-block;
    padding-left: 0;
    margin: 22px 0;
    border-radius: 4px;
    margin-left: 213px;
    color: white;
}

.form-control.col-md-3.search {
    margin: 10px;
    margin-left: 499px;
}

.searchPannel {
    height: 56%;
    display: -webkit-inline-box;
    width: 100%;
    background: #3b3a2f66;
}

.login {
    margin-top: 100px;
}

.col-md-12.uploadSection {
    background: whitesmoke;
}

.formUpdate {
    color: white;
    background: #665f9899;
    height: 700px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.055);
    position: absolute;
    z-index: 1000;
    padding: 20px;
    margin-top: 20px;
    animation: upload 1s ease-in-out 1;
}

@keyframes upload {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes upload {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes upload {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-o-keyframes upload {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.formUpdate.active {
    /* display: block; */
    transform: scale(1);
    z-index: 1000;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

#showForm {
    background: #e4e4e4;
    padding: 27px;
    margin-left: 100px
}

.paginationbtn {
    width: 60px;
    background: turquoise;
    border: unset;
    margin-top: -10px;
}

.img-responsive.property {
    height: 250px;
    margin-bottom: -15px;
    border: 1px solid #f0f8ff1a;
    padding: 10px;
    border-radius: 0px;
    background: #47494933;
}

.panel-body:hover .img-responsive.property {
    transform: scale(1.2)translateY(100px);
    transition: all .6s cubic-bezier(0, 2.06, .17, .58);
    width: 300px;
    margin-left: 50px;
    height: 300px;
    border: 1px solid #f0f8ff1a;
}

.list-group-item.menu {
    cursor: pointer;
}

.list-group-item.menu:hover {
    cursor: pointer;
    background: whitesmoke;
}

.list-group-item.menu:active {
    background: whitesmoke;
}

.messages.col-md-8 {
    background: #5344cd66;
    padding: 10px;
}

.messageComponent {
    margin-top: 100px;
}

.singleProduct {
    height: 500px;
    /* border: 1px solid #b7a9b766; */
    padding: -34px;
    padding: 10px;
    margin-top: 10px;
}

.panel-footer.footer {
    padding: 10px 15px;
    background: #67192ab3;
    border-top: 1px solid #d3e0e9;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #676a6db3;
    color: wheat;
    height: 100px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 200px;
}

.card.col-md-4 {
    margin-left: 30px;
    margin-bottom: 10px;
}

.card.col-md-4 {
    padding: 0px;
}

.view .img-responsive {
    width: 450px;
    height: 282px;
    transform: scale(1.3);
    margin-left: 43px;
    margin-bottom: 66px;
    margin-top: 37px;
}

.more_detials {
    margin-bottom: 100px
}

.profile {
    margin-top: 80px;
}

.profile.user {
    background: turquoise;
}

.loged {
    margin-top: 50px;
    margin-bottom: -100px;
    text-align: right
}

.Deals img {
    width: 100%;
    height: 300px;
}

.card.profile.col-md-4 {
    padding: 0px;
    width: 400px;
}

.text-center.title {
    background: #541a2b;
    height: 30px;
    margin-bottom: 0px;
    text-indent: 0px;
    line-height: -moz-block-height;
    line-height: -webkit-block-height;
    line-height: -ms-block-height;
    color: whitesmoke;
}

.text-center.price {
    background: #0e4359;
    height: 30px;
    margin-top: 0px;
    text-indent: 0px;
    line-height: -moz-block-height;
    line-height: -webkit-block-height;
    line-height: -ms-block-height;
    color: white;
}

.col-md-4.col-sm-6.col-sm-offset-2.col-md-offset-2.panel-default.more_detials {
    background: #231c191a;
    padding: 10px;
    border: 1px solid #161a7133;
}

.footer {
    height: 300px;
    background: rgb(187, 187, 187);
    background: -webkit-linear-gradient(rgba(78, 78, 78, 0.096), rgba(78, 78, 78, 0.096));
    background: -moz-linear-gradient(rgba(78, 78, 78, 0.096), rgba(78, 78, 78, 0.096))
}

.list-group-footer {
    list-style: none;
}

.col-md-12.copyright {
    background: #3f4143;
    margin-top: -20px;
    padding: 10px 100px 10px 100px;
    color: whitesmoke;
    min-height: 200px;
}

.btn.btn-primary.btn-block.subscribe {
    background: #4b474b;
    border-radius: 0px;
    border: none;
}

.list-group-itemfooterSection {
    list-style: none;
    color: black;
}

.list-group-itemfooterSection a {
    color: darkslategrey;
    font-size: medium;
}

h4.category {
    font-size: x-large;
    border-bottom: 1px solid #a5a5a5;
}

.fa.fa-facebook {
    font-size: 19px;
    border: 1px solid #ffffffb3;
    padding: 20px;
    border-radius: 40px;
    background: #4ba0e7;
    box-shadow: inset 1px 0px 14px #2d2d2d;
    cursor: pointer;
}

.fa.fa-twitter {
    font-size: 19px;
    border: 1px solid #ffffffb3;
    padding: 20px;
    border-radius: 40px;
    background: #29cdc9;
    box-shadow: inset 1px 0px 14px #2d2d2d;
    cursor: pointer;
}

.fa.fa-instagram {
    font-size: 19px;
    border: 1px solid #ffffffb3;
    padding: 20px;
    border-radius: 40px;
    background: #f86059;
    box-shadow: inset 1px 0px 14px #2d2d2d;
    cursor: pointer;
}

.socialApp:hover {
    font-size: 33px;
    transition: all .2s cubic-bezier(0, 1.48, .32, 1.28);
}

.lowerfooter {
    margin-top: 120px;
}

.list-group-item.message:hover {
    cursor: pointer;
    background: #40e0d01a;
}

.card.viewSingle {
    min-height: 300px;
    margin-top: 86px;
    background: whitesmoke;
    padding: 10px;
}

.viewSingle>.to {
    background: turquoise;
    padding: 5px;
    color: white;
}

.viewSingle.sent>.to {
    background: rgb(54, 54, 54);
    padding: 5px;
    color: white;
}

.controlButtons {
    background: #fdfdfd;
}

.messageContainer {
    max-height: 500px;
    overflow-y: scroll;
}

.messageStatus {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -o-inline-box;
    width: 100%;
    background: whitesmoke;
}

.inbox,
.unread {
    margin-left: 100px
}

.msgLink {
    margin-top: 20px;
}

.sendingTo {
    position: absolute;
    top: 70px;
    left: 950px;
    background: #bab4eb;
    padding: 10px;
    color: white;
}

.card.message.col-md-4.pull-right {
    width: 400px;
    padding: 10px;
    margin-right: 18px;
    margin-top: 123px;
    height: unset;
}

.text-center.loggedIn {
    background: #9891d5e6;
    width: -moz-max-content;
    padding: 2px;
    color: whitesmoke;
}

.logoName {
    margin-left: 300px;
    color: teal;
}

.imgupload {
    max-width: 200px;
}

.card.col-md-4 {
    margin-left: 30px;
    margin-bottom: 10px;
    height: 500px;
    overflow: hidden;
}

.footerLink {
    list-style: none;
    background: whitesmoke;
}

.footerLink li {
    background: #dadada80;
    border-bottom: 1px solid aliceblue;
    padding: 10px;
    margin-left: -40px;
}

.footerLink li a {
    color: rgb(129, 129, 129);
}

.col-md-4.col-md-offset-4 {
    border: 1px solid #f0f8ffcc;
    padding: 10px;
}

.card.profile.viwer.col-md-4 {
    margin-left: 30px;
    margin-bottom: 10px;
    height: 500px;
    overflow: auto;
    color: #211f1f;
    margin-top: 42px;
}

.card.profile.viwer.col-md-4>img {
    height: 200px
}

.col-md-4.col-md-offset-4.actualUploadForm {
    margin-left: 229px;
    margin-top: 44px;
}

#formuploadbtn {
    background: #4b3d4b;
    border: unset;
    border-radius: unset;
    width: 20%;
    color: whitesmoke;
}

#formuploadbtn:hover {
    background: #199484;
    transform: scale(1.1);
    transition: all 0.4s cubic-bezier(.35, 1.71, .32, 1.28);
}

.posted_at {
    margin-left: 25%;
    background: #3c3d484d;
    padding: 4px;
    border: 1px solid #104b621a;
}


/* .userNavigation {
    list-style: none;
    background: #dbdbd800;
    height: 110px;
    width: 135px;
} */

@media(min-width:480px) {
    .userNavigation {
        display: none;
    }
    .btn.btn-default.homebtn {
        display: none;
    }
    .hambagerMenu {
        display: block;
    }
    .logoName {
        margin-left: 70px;
        color: teal;
        margin-top: -17px;
        font-size: 26px;
    }
    .fa.fa-navicon {
        cursor: pointer;
        margin-left: -47px;
    }
}

@media(max-width:480px) {
    .userNavigation {
        display: none;
    }
    .btn.btn-default.homebtn {
        display: none;
        margin-top: 21px;
    }
    .hambagerMenu {
        display: block;
    }
    .logoName {
        margin-left: -20px;
        color: teal;
        margin-top: -43px;
    }
    .fa.fa-navicon {
        margin-top: 21px;
        cursor: pointer;
    }
    .pagination.footer {
        margin-left: 0px
    }
}

@media(max-width:580px) {
    #showForm {
        background: #e4e4e4;
        padding: 27px;
        margin-left: 0px
    }
}

@media(min-width:510px) {
    .searchPannel {
        margin-top: 0px;
        border-radius: 0px;
    }
    .searchPannel.col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 100.667%;
        margin-top: -4px;
        margin-bottom: 7px;
        background: #332f2f;
        border-radius: 0px;
    }
}

@media(max-width:392) {
    .searchPannel {
        margin-top: 0px;
        border-radius: 0px;
        display: block
    }
}

@media(min-width:991px) {
    .messageUl {
        display: none;
    }
}

@media(max-width:990px) {
    .list-group.messageTabMenu {
        width: 100%;
        height: 180px;
        margin-top: 26px;
        z-index: -1;
        display: none;
    }
    .messagesPanel {
        width: 100%;
    }
    .messageUl {
        display: -webkit-inline-box;
        width: 100%;
        margin-left: -94px;
    }
    .messageUl>li {
        margin-left: 61px;
        list-style: none;
        background: whitesmoke;
        border-radius: 3px;
        padding: 2px;
        cursor: pointer;
    }
    .messageUl>li:hover {
        background: rgb(36, 34, 34);
    }
}

@media(max-width:464px) {
    .messageUl {
        display: block;
        width: 100%;
        margin-left: -94px;
    }
    .messageUl>li {
        list-style: none;
        background: whitesmoke;
        cursor: pointer;
        border-bottom: 1px solid grey
    }
    .messageUl>li:hover {
        background: rgb(36, 34, 34);
    }
}

@media(min-width:280px) {
    .searchPannel {
        margin-top: 0px;
        border-radius: 0px;
    }
    .searchPannel label {
        font-size: 10px
    }
    .searchPannel .form-control.search {
        margin-left: -40px
    }
    .searchPannel.col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 100.667%;
        margin-top: -4px;
        margin-bottom: 7px;
        background: #332f2f;
        border-radius: 0px;
    }
}

@media(min-width:980px) {
    .userNavigation {
        display: -webkit-inline-box;
        list-style: none;
        background: #dbdbd800;
        height: 20px;
        width: 135px;
    }
    .btn.btn-default.homebtn {
        display: block;
        margin-left: -151px;
    }
    .hambagerMenu {
        display: none;
        cursor: pointer;
    }
    .logoName {
        margin-left: 212px;
        color: teal;
        margin-top: 10px;
        font-size: 19px;
    }
}

.menu>.list-group-item {
    background: #003135cc;
    color: white;
    width: 296px;
}

.menu>.list-group-item>a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.menu>.list-group-item:hover {
    background: #282826;
}

.menu>.list-group-item a:hover {
    background: #282826;
}

.menu {
    position: absolute;
    width: 276px;
    left: -31px;
    top: 67px;
}

.btn.btn-default.userbtn2.pull-right {
    margin-left: 23px;
    height: 37px;
}

.emptyResponse.col-md-4 {
    box-shadow: 16px 5px 6px #0009;
}

.fa.fa-envelope.unread {
    display: -webkit-inline-box;
    margin: 1px;
}

.badge-red {
    background: #d53b3b;
    padding: 3px;
    border-radius: 13px;
}

.col-md-12.col-sm-8.col-xm-6.panel-default {
    background: #1e1c1c;
    margin-top: -3px;
}