body {
    box-sizing: border-box;
    margin-top: -40px;
    overflow-x: hidden;
}

.brandTile {
    color: white;
}

.text-center.heading {
    position: relative;
    top: 40%;
    color: white;
    font-size: 69px;
}

.navbar-brand {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-box;
    display: inline-box;
}

.brandName {
    margin-left: 150px;
    transform: scale(0);
}

.pull-right.cart {
    margin: 20px 10px 0px 20px;
    color: #ff0c;
    font-size: px;
}

.btn-default.homebtn {
    color: #fff;
    /* background-color: #3a5957;
    /* border-color: #d5d5d54d; */
    /* background-color: #10829999; */
    background-color: #10829900;
    border-color: #d5d5d500;
    border-bottom: 1px solid yellowgreen;
    margin-left: 10px;
}

.btn-default.homebtn:active {
    color: #fff;
    /* background-color: #3a5957;
    /* border-color: #d5d5d54d; */
    /* background-color: #10829999; */
    background-color: #10829942;
    border-color: #d5d5d500;
    border-bottom: 1px solid yellowgreen;
    margin-left: 10px;
}

.btn-default.homebtn:hover {
    border-bottom: 1px solid rgba(153, 205, 50, 0.096);
}

.brandName_show {
    margin-left: 150px;
    display: block;
    transform: scale(1.5);
    transition: all 2s ease-in-out;
}

.headingFollow {
    position: relative;
    top: 45%;
    left: 45%;
    color: white;
    font-size: 16px;
}

.banner::before {
    position: absolute;
    content: '';
    height: 100vh;
    width: 100%;
    background: #0587aa33;
}

.img-responsive.vaxon {
    width: 800px;
    margin-left: 190px;
    margin-top: 0px;
}

.img-responsive.vaxonApp {
    margin-top: -50px;
    margin-left: -80px;
}

.img-responsive.bag {
    width: 200px;
    position: relative;
    left: 35%;
    animation: bag 3s cubic-bezier(.18, .89, .32, 1.28);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}


/* @keyframes bag {
    0% {
        transform: translateY(10px);
        transform: scale(0.2);
        transform: translateX(1000px);
    }
    10% {
        transform: scale(1.2);
        transform: translateX(1000px);
        transition: all 8s cubic-bezier(.18, .89, .32, 1.28) 4s;
    }
    20% {
        transform: scale(0.2);
        transform: translateY(0px);
        transition: all 8s cubic-bezier(.18, .89, .32, 1.28) 10s;
    }
    30% {
        transform: scale(1.2);
        transform: translateY(0px);
    }
    40% {
        transform: scale(0.1);
        transform: translateY(-200px);
    }
    50% {
        transform: scale(0.1);
        transform: translateY(-100px);
    }
    60% {
        transform: scale(1.2);
        transform: translateY(0px);
    }
    70% {
        transform: scale(1.2);
        transform: translateY(0px);
        transform: rotateY(40deg);
    }
    80% {
        transform: scale(1.2);
        transform: translateY(0px);
        transform: rotate(-20deg);
    }
    90% {
        transform: scale(1.2);
        transform: translateY(0px);
    }
    100% {
        transform: scale(1.2);
        transform: translateY(1000px);
    }
} */

@keyframes bag {
    0% {
        transform: translateY(10px);
        transform: scale(0.2);
        transform: translateX(1000px);
    }
    10% {
        transform: scale(1.2);
        transform: translateX(1000px);
        transition: all 8s cubic-bezier(.18, .89, .32, 1.28) 4s;
    }
    20% {
        transform: scale(0.2);
        transform: translateY(0px);
        transition: all 8s cubic-bezier(.18, .89, .32, 1.28) 10s;
    }
    30% {
        transform: scale(1.2);
        transform: skewX(56deg);
        transform: translateY(-40px)rotateZ(20deg);
    }
    40% {
        transform: scale(0.1);
        transform: translateY(10px);
        transform: skewX(0deg);
    }
    50% {
        transform: scale(0.1);
        transform: translateY(-40px);
        transform: skewY(0deg);
    }
    60% {
        transform: scale(1.2);
        transform: translateY(0px);
        transform: translateX(400px);
    }
    70% {
        transform: scale(1.2);
        transform: translateY(0px);
        transform: skewY(0deg);
        transform: translateX(-900px);
    }
    80% {
        transform: scale(1.2);
        transform: translateY(0px);
        transform: rotate(0deg);
        transform: translateX(-2100px);
    }
    90% {
        transform: scale(1.2);
        transform: translateY(0px);
        transform: translateX(-2100px);
    }
    100% {
        transform: scale(1.2);
        transform: translateX(-2000px);
    }
}

.img-responsive.shoe {
    width: 200px;
    position: absolute;
    left: 35%;
    top: 17%;
    animation: shoe 2.5s cubic-bezier(.18, .89, .32, 1.28);
    animation: shoe 3s cubic-bezier(0, 1.31, .77, .58);
    animation: shoe 3s cubic-bezier(.39, -0.67, .77, .58);
    animation: shoe 3s cubic-bezier(1, -0.48, .77, .58);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes shoe {
    0% {
        transform: rotate(0deg);
        transform: translateY(0px);
        transform: scale(1);
        opacity: 1;
    }
    20% {
        transform: rotate(40deg);
        transform: translateY(300px);
        opacity: 0;
    }
    40% {
        transform: rotate(40deg);
        transform: translateY(400px);
        opacity: 0;
    }
    60% {
        transform: rotate(40deg);
        transform: translateY(400px);
        transform: scale(.1);
        opacity: 0;
    }
    80% {
        transform: rotate(40deg);
        transform: scale(.1);
        opacity: 1;
    }
    100% {
        transform: rotate(40deg);
        opacity: 1;
    }
}

.navbar-inverse {
    background-color: #22222280;
    border-color: #a2fce565;
}

.navbar-reverse {
    background-color: #222222;
}

.btn.btn-default.pull-right {
    background: unset;
    color: white;
    margin: 20px 10px 2px auto;
    padding: 7px 50px;
}

.btn.btn-default.pull-right:hover {
    background: #468285b3;
}

.banner {
    background-image: url('../images/Christia-Bella-Men-Wedding-shoe.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    height: 100vh;
}

.shopImage img {
    height: 200px;
    width: auto;
}

.shop {
    text-transform: capitalize;
    width: 300px;
}

.categoryAndBrand {
    position: sticky
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #212426e6;
    border-color: #eee0;
}

.panel-primary {
    border-color: #c2c2c3;
}

.productDetails>.list-group-item {
    background: #890c2be6;
    color: whitesmoke;
    height: auto;
}

.productDetails>.list-group-item:hover {
    background: #890c2be6;
    color: whitesmoke;
}

.list-group-item {
    background: #890c2be6;
    color: whitesmoke;
}

.list-group-item {
    min-height: 60px;
    padding: 10px;
}


/* ul.inner {
    display: hidden;
} */

ul.inner {
    width: 100%;
    display: none;
}

ul.showInner {
    width: 100%;
    display: contents;
    display: initial;
}

.list-group-item.innerli {
    background: #06222b;
    border: 1px solid teal;
}

.list-group-item.innerli:hover {
    background: #06222b;
    border: 1px solid teal;
    cursor: pointer;
    transform: scalex(1.1);
    text-align: center;
    color: rgb(240, 245, 244);
    transition: all .4s cubic-bezier(0, 1.94, .14, 1.06);
    background: #324faae6;
}

.list-group-item>.fa {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #a23d4b;
    border: 1px solid #c5cac91a;
    padding: 7px;
}

.list-group-item:hover {
    background: rgb(56, 56, 126);
    background: #d1b70ccc;
    color: #393939;
}

a:hover {
    text-decoration: none;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    margin-top: 20px;
    border-radius: 4px;
    margin-top: 5px;
}

.col-md-8.productsSearch {
    background: whitesmoke;
    height: 40px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border: 1px solid #baacba80;
    border-radius: 20px 2px;
    /* display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -ms-inline-box; */
}

.searchbtn {
    margin: 2px;
    height: 30px;
    background: #0fb5e780;
    color: #fff;
    border: navy;
}

.searchForm {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -ms-inline-box;
    marin: -80px 30px 12px 290px;
    position: relative;
    left: 440px;
    top: -58px;
}

.list-group-item:hover i {
    background: #d1b70ccc;
    color: #393939;
    transform: rotateZ(70deg);
    transition: all .4s ease-in;
}

.MightAlsoLike img {
    height: 100px;
}

.MightAlsoLike.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    height: 80px;
    text-transform: capitalize;
}

.product>.panel-heading {
    text-transform: capitalize;
}

.product img {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    width: -webkit-Available;
}

.product img:hover {
    cursor: move
}

a {
    color: whitesmoke;
}

#zoom_01 {
    cursor: move;
}

.panel.panel-default.col-md-4.product {
    width: 600px;
}

.table.table-hover.table-stripped {}

.cart {
    margin-top: 120px;
}

.cartHeading {
    text-decoration: underline;
}

.pull-right.totalPrice {
    background: #e6e6e6;
    padding: 10px;
    border: 1px solid #97e2db66;
}

.increaseDecreaseForms {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-box;
}

.btn-success.increment {
    color: #fff;
    background-color: #055961;
    border-color: #364e3600;
}

.btn-warning.decrement {
    color: #fff;
    background-color: #06c4ba;
    border-color: #dfdfdf00;
}

.btn-danger.remove {
    color: #fff;
    background-color: #f05753;
    border-color: #9f9f9f00;
}

.savedForLaterView {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-box;
    display: inline-box;
    width: 100%;
    margin-left: 60px;
}

.saveForLater {
    margin-left: 80px;
    margin-top: 10px;
}

.cartprice {
    margin-left: 20px;
}

.carttitle {
    margin-left: 20px;
}

.qty {
    margin-left: 40px;
}

.btn.btn-success.checkout.pull-right {
    margin: 13px;
}

.checkout,
.login,
.signup {
    margin: 150px 100px 0px 0px;
}

.checkoutForm {
    margin-bottom: 40px
}

.loginForm,
.signupForm {
    margin-bottom: 40px
}

.authUser {
    color: rgb(171, 226, 43);
    text-transform: capitalize;
}

.footer {
    height: 300px;
    background: rgb(187, 187, 187);
    background: -webkit-linear-gradient(rgba(78, 78, 78, 0.096), rgba(78, 78, 78, 0.096));
    background: -moz-linear-gradient(rgba(78, 78, 78, 0.096), rgba(78, 78, 78, 0.096))
}

.list-group-footer {
    list-style: none;
}

.col-md-12.copyright {
    background: #3f4143;
    margin-top: -20px;
    padding: 10px 100px 10px 100px;
    color: whitesmoke;
    height: 200px;
}

.btn.btn-primary.btn-block.subscribe {
    background: #4b474b;
    border-radius: 0px;
    border: none;
}

.list-group-itemfooterSection {
    list-style: none;
    color: black;
}

.list-group-itemfooterSection a {
    color: darkslategrey;
}

.thankyou {
    margin-top: 200px;
    margin-bottom: 200px;
}

.thanksText {
    margin: 20px;
    transform: scale(1.2);
    transition: all .4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation: text 2s ease-in-out 1;
}

.thanksbtn {
    transform: scale(1.2);
    transition: all .4s cubic-bezier(0.6, -0.28, 0.735, 0.045)
}

.thanksText:hover {
    margin: 20px;
    transform: scale(1);
    transition: all .4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation: text 1s ease-in-out infinite;
}

.thanksbtn:hover {
    transform: scale(1);
    transition: all .7s cubic-bezier(0, 2.53, .32, 1.28);
}

.letters {
    display: -webkit-inline-box;
    display: -ms-inline-box;
    display: -moz-inline-box;
    display: -os-inline-box;
    margin-left: 0px;
}

@keyframes text {
    0% {
        transform: scale(1.2);
        transform: rotateZ(0deg);
        transition: all 2s ease-in-out;
        color: grey
    }
    10% {
        margin: -90px;
        transform: scale(1.2);
        transform: rotateZ(10deg);
        color: rgb(30, 197, 24);
        transition: all 2s ease-in-out;
    }
    20% {
        margin: -90px;
        transform: rotateZ(0deg);
        color: rgb(206, 21, 21);
        transition: all 2s ease-in-out;
    }
    30% {
        margin: 2px;
        transform: rotateZ(10deg);
        color: rgb(198, 218, 26);
        transition: all 2s ease-in-out;
    }
    40% {
        transform: rotateZ(0deg);
        color: rgb(32, 50, 214);
        transition: all 2s ease-in-out;
    }
    50% {
        margin: 2px;
        transform: rotateZ(10deg);
        color: rgb(233, 22, 180);
        transition: all 2s ease-in-out;
    }
    60% {
        transform: rotateZ(0deg);
        color: grey;
        transition: all 2s ease-in-out;
    }
}