body {
    box-sizing: border-box;
    background: #7f9ebd4d;
}

.username {
    background: whitesmoke;
    width: -moz-fit-content;
    padding: 5px;
    margin-bottom: -20px;
}

.badge.success {
    background: greenyellow;
}

.badge.default {
    background: grey;
}

.navbar-brand {
    font-size: 28px;
}

.navbar-brand a {
    margin-left: 50px;
}

.userManagement {
    padding: 20px;
}

.fa.fa-cog:hover li {
    display: none;
}

.settings {
    color: rgb(73, 147, 160);
}

.col-md-3.online_status {
    position: relative;
    width: 300px;
    right: 0px;
}

.col-md-3.stautsContainer h3 {
    font-size: 14;
}

.col-md-3.stautsContainer {
    position: fixed;
    top: 55%;
    left: 980px;
    background: #61e8f566;
    height: 300px;
    overflow: auto;
    color: teal;
}

.comment_row {
    display: -webkit-inline-box;
    width: 600px;
}

.singleComment {
    display: -webkit-flex;
    margin: 10px;
    background: whitesmoke;
    padding: 5px;
    border-radius: 20px;
    width: -moz-fit-content;
}

.user {
    display: -webkit-inline-box;
}

.commentUser {
    color: #0067ff;
}

.actualComment {
    margin-left: 20px;
    font-weight: bold;
}

#comment {
    border-radius: 20px;
}

.commentSection {
    list-style: none;
}

.Replycontrols {
    display: -webkit-inline-box;
    margin: -25px 40px -6px 40px;
    font-size: 12px;
}

.sidebar li i {
    color: #09f;
    font-size: 18px;
    border: 1px solid #95dee14d;
    border-radius: 20px;
    padding: 3px;
}

.online_status li:hover {
    cursor: pointer;
}


/* position: fixed;
    position: sticky;

top: 55%;

width: 300px;
background: #61e8f566;
height: 400px;
overflow-y: auto;
color: teal; */

.homePosts.panel img {
    width: 300px;
    border-radius: 40px;
}

.homePosts {
    margin-top: 50px;
}

.homePosts h4 {
    width: -moz-fit-content;
    background: #ffffff;
    height: 50px;
    padding: 10px;
    color: black;
}

form.uploadform {
    margin-top: 20px;
}

input.postfileUpload {
    display: none;
}

input.postfileUpload.showform {
    display: block;
}

.upload {
    color: #fff;
    font-size: 14px;
    border: 1px solid #f5f5f580;
    padding: 6px;
    border-radius: 20px;
    background: #82f6b2;
    box-shadow: 1px 2px 4px #a19d9db3;
    margin-bottom: 3px;
}

.upload.hovered {
    color: #fff;
    font-size: 16px;
    border: 1px solid #f5f5f580;
    padding: 10px;
    border-radius: 20px;
    background: #4c524f;
    box-shadow: 1px 2px 4px #a19d9db3;
    margin-bottom: 3px;
    transition: all ease-out .4s;
}

.Homeheading {
    margin-bottom: -30px;
}

.Homeheading::before {
    text-align: center;
    content: ' ';
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background: yellow;
    left: 65%;
    top: 0px;
    border-radius: 00px 900px 20px 110px;
    z-index: -100;
}

.Homeheading::after {
    text-align: center;
    content: ' ';
    background: yellow;
    width: 220px;
    height: 2px;
    display: block;
    left: 35%;
    position: relative;
}

.fa-photo.active {
    color: #fff;
    font-size: 18px;
    border: 1px solid #f5f5f580;
    padding: 10px;
    border-radius: 20px;
    background: #ff005c99;
    box-shadow: 1px 2px 4px #a19d9db3;
    margin-bottom: 3px;
}

.userInfo {
    display: -webkit-inline-box;
}

textarea.form-control {
    height: 100px;
}

.col-md-12.profile {
    background: teal;
    background: url('../images/profileback.jpg');
    background-size: contain;
    background-position: right;
    height: 200px;
    margin-top: 50px;
}

.btn.btn-default.pull-right {
    background: none;
    color: wheat;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    margin-top: 200px;
    text-align: center;
}

.profile img {
    height: 150px;
    top: 45px;
    position: relative;
    width: 150px;
}

.Postcontrols {
    display: -webkit-inline-box;
    margin: 0px 20px;
    background: rgb(246, 248, 250);
    cursor: pointer;
    border: 1px solid rgba(218, 217, 215, 0.246);
    padding: 10px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px 20px;
    cursor: pointer;
}